{% extends 'base.html' %}

{% load widget_tweaks %}

{% load humanize %}

{% block content %}

<style>
    .top_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px;
    }

    .top_section p {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
    }

    #id_task_text {
        height: 100px;
    }

    #id_why {
        height: 50px;
    }

    .row_of_unique_buttons button {
        margin-top: 10px;
        width: 100%;
    }

    input {
        display: block;
        vertical-align: top;
        margin: 0;
    }

    .container {
        max-width: 2000px;
    }
</style>


<div class="container">

    <div class="top_section">

        <!-- form to create a new task -->

        <form method="post">

            {% csrf_token %}

            {{ new_task_form.as_p }}

            <button type="submit" class="btn btn-outline-primary">Add</button>
        </form>


        <div class="row_of_unique_buttons">
            <!-- button to show all active tasks -->
            <form method="post">
                {% csrf_token %}
                {{ show_all_active_tasks_button.as_p }}
                <button type="submit" name="show_all_active" class="btn btn-outline-secondary">Show All</button>
            </form>

            <!-- button to hide all tasks -->
            <form method="post">
                {% csrf_token %}
                {{ hide_all_tasks_button.as_p }}
                <button type="submit" name="hide_all" class="btn btn-outline-secondary">Hide All</button>
            </form>


            <!-- button to show next 5 tasks -->
            <form method="post">
                {% csrf_token %}
                {{ show_next_five_tasks_button.as_p }}
                <button type="submit" name="show_next_five_tasks_button" class="btn btn-outline-secondary">Show Next
                    Five
                    Tasks</button>
            </form>

            <form method="post">
                {% csrf_token %}
                {{ show_accomplished_tasks_button.as_p }}
                <button type="submit" name="show_accomplished_tasks_button" class="btn btn-outline-secondary">Show
                    Accomplished
                    Tasks</button>
            </form>
            <!-- <p>Completed task count: {{ completed_task_count }}</p> -->

            <!-- end row_of_unique_buttons -->
        </div>


        <!-- end form and buttons -->
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <!-- first row of table -->
            <tr>
                <th>Task</th>
                <th>Why</th>
                <th>When</th>
                <th>Hide</th>
                <th>Hours to push</th>
                <th>Days to push</th>
                <th>Push task</th>
                <th>Complete</th>
            </tr>
        </thead>
        <tbody>
            <!-- django - renders each task that was returned by the home() function in views.py  -->
            <!-- note - names are needed on input and button elements for the views.py home() function to
            properly process incoming POST requests -->
            {% for task in tasks %}
            <tr>
                <td class="align-middle">
                    <!-- displays task text -->
                    {{ task.task_text }}
                </td>


                <td class="align-middle">
                    {{ task.why }}
                </td>
                <td class="align-middle">
                    {{ task.next_update_date|naturaltime }}
                </td>

                <!-- form for hide task button -->
                <form method="post">
                    {% csrf_token %}
                    {{ hide_task_form.as_p }}
                    <td>
                        <!-- this input element is needed to identify which task -->
                        <input value="{{task.id}}" name="task_id" type="hidden">
                        <button type="submit" name="hide" class="btn btn-outline-secondary">Hide</button>
                    </td>
                </form>

                <form method="post">
                    {% csrf_token %}
                    {{ push_task.as_p }}

                    <div class="input-group input-group-sm ">
                        <td style="width:150px">
                            <input class="form-control" type="number" min="0" name="hours_to_push">
                        </td>
                        <td style="width:150px">
                            <input class="form-control" type="number" min="0" name="days_to_push">
                        </td>

                    </div>
                    <td>
                        <input value="{{task.id}}" name="task_id" type="hidden">
                        <button type="submit" name="push_task" class="btn btn-outline-secondary">Push</button>
                    </td>

                    </td>
                </form>

                <td class="align-middle">

                    <form method="post">
                        <!-- form to complete task -->
                        {% csrf_token %}
                        {{ complete_task_button.as_p }}
                        <input value="{{task.id}}" name="task_id" type="hidden">
                        <button type="complete_task_button" name="complete_task_button"
                            class="btn btn-outline-secondary">Complete</button>
                    </form>


                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <!-- end container -->
</div>

<!-- endblock content -->
{% endblock %}