{% extends 'base.html' %}
<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Django Boards</a>
    </div>
  </nav>
   -->
{% block content %}

<h1>TJR Tasks</h1>

<form method="post">
    {% csrf_token %}
    {{ new_tickler_form.as_p }}
    <button type="submit" class="btn btn-outline-primary">Add</button>
</form>


<table class="table">

    <thead class="thead-dark">
        <tr>
            <th>Task</th>
            <th>Next review date</th>
            <th>How many days to ignore?</th>
            <th>Push it</th>
            <th>Mark as completed</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td class="align-middle">
                {{ item.tickler_text }}
            </td>
            <td class="align-middle">
                {{ item.next_update_date }}
            </td>
            <!-- form for day delta entry and button -->
            <form method="post">
                    {% csrf_token %}
                    <!-- {{ push_task_form.as_p }} -->
                <td class="align-middle">

                    <input type="text">
                </td>
                <td>
                    <button type="submit" name="push" class="btn btn-outline-secondary">Push</button>
                </td>
            </form>


            <td class="align-middle">

                <form method="post">
                    {% csrf_token %}
                    <!-- {{ completed_task_button.as_p }} -->
                    <button type="complete_task_button" name="completed_task"
                        class="btn btn-outline-secondary">Completed</button>
                </form>


            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<!-- endblock content -->
{% endblock %}